body {
    background-color: black;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -.5em;
    margin-top: .4em;
    margin-bottom: 0.8em;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 75px;
    border-style: solid;
    border-color: white;
    border-width: 0.187em;
}

.ball p {
    color: white;
    font-size: 50px; 
    text-align: center;
}

button {
    font-size: 1.474em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding: 0.4em;
    width: 170px;
}

@media only screen and (max-width: 1200px) {

    .ball {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 995px) {

    .ball {
        width: 85px;
        height: 85px;
    }
}

@media only screen and (max-width: 770px) {

    .ball {
        width: 60px;
        height: 60px;
    }
}

@media only screen and (max-width: 540px) {

    .ball {
        width: 48px;
        height: 48px;
    }
}

@media only screen and (max-width: 380px) {

    .ball {
        width: 45px;
        height: 45px;
    }
}

@media only screen and (max-width: 366px) {

    .ball {
        width: 41px;
        height: 41px;
    }
}
